@import url(../../../styles/variables.less);
@import url(../../../styles/mixins.less);

.date-pick {
  width: 100%;
  padding: 9px 16px;
  border-radius: @rounded-md;
  border: none;

  &--gray {
    background: @minigray;
  }

  &--purple {
    background: @minipurple;
  }
}
