<div class="wrapper">
  <app-section-wrapper>
    <img
      class="wrapper__image wrapper__image-car"
      src="/assets/images/city-search/car.svg"
      alt="car"
    />
    <img
      class="wrapper__image wrapper__image-protector"
      src="/assets/images/city-search/protector.svg"
      alt="protector"
    />

    <div class="city-search">
      <app-title title="Enjoy every mile with adorable companionship." colorStyle="white" />
      <p class="city-search__subtitle">
        Amet cras hac orci lacus. Faucibus ipsum arcu lectus nibh sapien bibendum ullamcorper in.
        Diam tincidunt tincidunt erat
      </p>
      <div class="city-search__input">
        <input type="text" placeholder="City" />
        <button class="city-search__btn">Search</button>
      </div>
    </div>
  </app-section-wrapper>
</div>
