@import url(../../../styles/variables.less);
@import url(../../../styles/mixins.less);

:host {
  z-index: 15;
}

.header {
  padding: 28px 0;

  .media(@lg, {
    padding: 12px 0;
  });

  &__container {
    position: relative;
    .main-container();
    .flex-between();
  }

  &__menu {
    .mobile();

    &-image {
      width: 30px;
      height: 30px;
    }
  }

  &__overlay {
    &--mobile {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 10;
      background: rgba(0, 0, 0, 0.5);
      .flex-center();
      padding: 0 10px;
    }
  }

  &__nav {
    .desktop();

    &--mobile {
      background: @white;
      width: 100%;
      max-width: 400px;
      border-radius: @rounded-lg;
      padding: 32px 24px;
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 20px;

      .media(@lg, {
        flex-direction: column;
      });
    }

    &-item {
      padding: 4px 12px;

      &-link {
        font-family: @second-family;
        .rem(18);
        font-weight: 500;

        .media(@lg, {
          .rem(16);
        });

        &--active {
          font-weight: 700;
        }
      }
    }
  }
}
