<header class="header">
  <div class="header__container">
    <button class="header__menu" type="button" (click)="toggleMenu()">
      <img class="header__menu-image" src="/assets/images/MenuHamburger.svg" alt="burger-menu" />
    </button>

    <app-logo></app-logo>

    <nav class="header__nav">
      <ul class="header__nav-list">
        @for (item of navbarItems; track item.id) {
        <li class="header__nav-item">
          <a
            class="header__nav-item-link"
            [routerLink]="item.link"
            [routerLinkActive]="['header__nav-item-link--active']"
          >
            {{ item.text | titlecase }}
          </a>
        </li>
        }
      </ul>
    </nav>

    <div class="header__tel">
      <div class="header__tel-wrapper">
        <img class="header__tel-image" src="/assets/images/Phone.svg" alt="Phone" />
      </div>
      <div class="header__tel-info">
        <p class="header__tel-text">Need help?</p>
        <a class="header__tel-number" href="tel:+9962471680">+996 247-1680</a>
      </div>
    </div>
  </div>

  @if (isMenuOpen) {
  <div class="header__mobile-overlay" (click)="closeMenu()">
    <nav class="header__mobile-nav" (click)="$event.stopPropagation()">
      <ul class="header__mobile-nav-list">
        @for (item of navbarItems; track item.id) {
        <li class="header__mobile-nav-item">
          <a
            class="header__mobile-nav-item-link"
            [routerLink]="item.link"
            [routerLinkActive]="['header__nav-item-link--active']"
            (click)="closeMenu()"
          >
            {{ item.text | titlecase }}
          </a>
        </li>
        }
      </ul>
    </nav>
  </div>
  }
</header>
