<app-section-wrapper>
  <img class="hero__car" src="/assets/images/HeroCar.png" alt="car" />
  <img class="hero__protector" src="/assets/images/Protector.png" alt="protector" />

  <div class="hero__container">
    <div class="hero__info">
      <app-title [isMain]="true" colorStyle="white" title="Experience the road like never before" />
      <p class="hero__info-text">
        Aliquam adipiscing velit semper morbi. Purus non eu cursus porttitor tristique et gravida.
        Quis nunc interdum gravida ullamcorper
      </p>
      <app-button [full]="false" text="View all cars" [isLink]="true" url="/vehicles"></app-button>
    </div>

    <app-form-book-car></app-form-book-car>
  </div>
</app-section-wrapper>
