<section class="mobile-app">
  <div class="mobile-app__container">
    <div class="mobile-app__info">
      <app-title title="Download mobile app" />
      <p class="mobile-app__subtitle">
        Imperdiet ut tristique viverra nunc. Ultrices orci vel auctor cursus turpis nibh placerat
        massa. Fermentum urna ut at et in. Turpis aliquet cras hendrerit enim condimentum.
        Condimentum interdum risus bibendum urna
      </p>
      <div class="mobile-app__download">
        <a href="/" target="_blank">
          <img src="/assets/images/AppStore.png" alt="AppStore" />
        </a>
        <a href="/" target="_blank">
          <img src="/assets/images/GooglePlay.png" alt="GooglePlay" />
        </a>
      </div>
    </div>

    <div class="mobile-app__image">
      <img src="/assets/images/mobile.png" alt="mobile" />
    </div>
  </div>
</section>
