<section class="info">
  <div class="info__container">
    <div class="info__image">
      <img src="/assets/images/preview.png" alt="preview" />
    </div>
    <div class="info__list">
      @for (info of infos; track info.id) {
      <div class="info__list-item">
        <div class="info__list-upper">
          <div class="info__list-numbering">{{ info.id }}</div>
          <h5 class="info__list-title">{{ info.title }}</h5>
        </div>
        <p class="info__list-text">{{ info.text }}</p>
      </div>
      }
    </div>
  </div>
</section>
